
<h1>User Page</h1>

<table id="pins">
  
  <%if Pin.find_by_user_id(current_user.id).nil?%>
    <p> You have no postings </p>
    <p><%= link_to "New Pin", new_pin_path %></p>
    <p><%= link_to "Sign Out", logout_path, method: :delete %></p>
    

  <%else%>

     <tr>
      <th><u>Title</u></th>
      <th><u>Image</u></th>
      <th><u>Description</u></th>

     </tr>

      <% Pin.where(user_id: current_user.id).each do |p| %>

      <tr>

        <td>
          <%= link_to p.title, p %>
        </td>

        <td>
          <%= link_to image_tag p.image.url(:medium), method: :Pin %>  
        </td> 
      
        <td>
          <%= p.description %>
        </td>

        <td> 
          <%=link_to "Delete", pin_path(p), class: "destroy" %>
        </td>

      </tr>

   <% end %>

    <p><%= link_to "New Pin", new_pin_path, class: "btn btn-default" %></p>
    <p><%= link_to "Sign Out", logout_path, class: "btn btn-default", method: :delete %></p>

</table>

<% end %>


